body{
    background-color: #80CED7;
}


.overview{
    margin-top: 3%;
    background-color: #ffffff;
    border: none;
}

.card .overview-h1{
    text-align: center;
}

.monthly{
    text-align: end;
}

/* https://coder-coder.com/display-divs-side-by-side/ */
.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
}  
.flex-child:first-child {
    margin-right: 20px;
}
.flex-child.green{
    text-align: end;
}
.flex-child.orange{
    text-align: end;
}

.second{
    margin-top: 5%;
}

.things{
    margin-top: 5%;
}
.things .input, .monthly-logs{
    width: fit-content;
    background-color: #fff;
    border: none;
}

.things .card{
    background-color: #fff;
    border: none;
}
.things h3{
    text-align: center;
}

.insert .form-select, .form-control{
    border-radius:10px;
    border: none;
    box-sizing:border-box;
    background-color: #E8E8E8;
}
.insert .button{
    text-align: center;
}

.logs{
    margin-top: 10px;
}
.logs .icon-row, .icon-row2{
    display: inline-flex;
}
.logs .center{
    margin-top: 15px;
    margin-left: 15px;
}
.logs .center2{
    margin-left: 15px;
    margin-top: 25px;
}
.logs .space{
    color: white;
}
.logs .right{
    text-align: end;
}

.monthly-logs .months{
    text-align: center;
}